@{
    ViewBag.Title = OneClickHomePageResource.InstallationPageTitle;
}

@section leftSide
{
    @Html.Partial("_IndexLeftSidePartial")
}

@section rightSide
{
    @Html.Partial("_IndexRightSidePartial")
}

<div id="connectionErrorPop" class="popup">
    <div class="popup-caption">
        <div class="popup-error"></div>
        @OneClickHomePageResource.ConnectionErrorHdr
        <div class="popup-close"></div>
    </div>
    <div class="popup-body">
        <div class="bottom-indent">
            <div class="error-message"></div>
            <div class="default-message">
                <div>
                    @OneClickHomePageResource.ConnectionErrorText_1<br/>
                    @OneClickHomePageResource.ConnectionErrorText_2
                </div>
                <br>
                <a href="@Settings.HelpUrl" target="_blank" class="underline">@OneClickHomePageResource.LearnMore</a>
            </div>
        </div>
        <a class="button black okbtn">@OneClickCommonResource.Ok</a>
    </div>
</div>

<div id="installErrorPop" class="popup">
    <div class="popup-caption">
        <div class="popup-error"></div>
        @OneClickHomePageResource.InstallationErrorHdr
        <div class="popup-close"></div>
    </div>
    <div class="popup-body">
        <div class="bottom-indent">
            <div class="error-message"></div>
            <div class="default-message">@OneClickHomePageResource.InstallationErrorText</div>
            <br>
            <span>@OneClickHomePageResource.ContactSupport&nbsp;</span>
            <a href="@Settings.DevUrl" target="_blank" class="underline">@Settings.DevUrl</a>
        </div>
        <a class="button black okbtn">@OneClickCommonResource.Ok</a>
    </div>
</div>

<div id="existVersionErrorPop" class="popup">
    <div class="popup-caption">
        <div class="popup-error"></div>
        @OneClickHomePageResource.ExistVersionErrorHdr
        <div class="popup-close"></div>
    </div>
    <div class="popup-body">
        <div class="bottom-indent">
            <div class="error-message"></div>
            <div class="default-message">
                <div>
                    @OneClickHomePageResource.ExistVersionErrorText
                </div>
                <br>
                <span>@OneClickHomePageResource.ContactSupport&nbsp;</span>
                <a href="@Settings.DevUrl" target="_blank" class="underline">@Settings.DevUrl</a>
            </div>
        </div>
        <a class="button black okbtn">@OneClickCommonResource.Ok</a>
    </div>
</div>

@if (ViewBag.Enterprise && !String.IsNullOrEmpty(Settings.LicenseUrl))
{
    <div id="trialPop" class="popup">
        <div class="popup-caption">
            @OneClickHomePageResource.RequestForm
            <div class="popup-close"></div>
        </div>
        <div class="popup-body">
            <div class="disconnected" style="height: 480px;">
                <div class="bottom-indent label">
                    @OneClickHomePageResource.TrialDescText
                </div>
                <div class="bottom-indent">
                    <input id="name" type="text" class="group-top" placeholder="@OneClickHomePageResource.NamePlaceholder" />
                    <input id="email" type="text" class="group-center" placeholder="@OneClickHomePageResource.EmailPlaceholder" />
                    <input id="phone" type="text" class="group-center" placeholder="@OneClickHomePageResource.PhonePlaceholder" />
                    <input id="companyName" type="text" class="group-center" placeholder="@OneClickHomePageResource.CompanyNamePlaceholder" />
                    <div class="custom-select group-center">
                        <input id="companySize" type="text" class="custom-select-value" placeholder="@OneClickHomePageResource.CompanySizePlaceholder" readonly="readonly"/>
                        <div class="custom-select-switch"></div>
                        <div class="custom-select-options">
                            <div class="custom-select-options-inner">
                                <div class="custom-select-option" data-value="5">@String.Format(OneClickHomePageResource.EmployeesCount, "1 - 5")</div>
                                <div class="custom-select-option" data-value="14">@String.Format(OneClickHomePageResource.EmployeesCount, "6 - 14")</div>
                                <div class="custom-select-option" data-value="64">@String.Format(OneClickHomePageResource.EmployeesCount, "15 - 64")</div>
                                <div class="custom-select-option" data-value="350">@String.Format(OneClickHomePageResource.EmployeesCount, "65 - 350")</div>
                                <div class="custom-select-option" data-value="1499">@String.Format(OneClickHomePageResource.EmployeesCount, "351 - 1499")</div>
                                <div class="custom-select-option" data-value="1500">@String.Format(OneClickHomePageResource.EmployeesMoreThanCount, "1500")</div>
                            </div>
                        </div>
                    </div>
                    <input id="position" type="text" class="group-bottom" placeholder="@OneClickHomePageResource.PositionPlaceholder" />
                </div>
                <a id="trialBtn" class="button black">@OneClickCommonResource.GetLicenseFile</a>
            </div>
            <div class="connected display-none" style="height: 480px;">
                <h1 class="blue bottom-indent">@OneClickHomePageResource.TrialReadyText</h1>
                <a class="button green okbtn">@OneClickCommonResource.Ok</a>
            </div>
        </div>
    </div>
}


@section scripts {

    @Scripts.Render("~/bundles/homepage")

    <script>
        $(function () {

            ActionUrl.UploadFile = '@Url.Action("UploadFile", "Home")';
            ActionUrl.Connect = '@Url.Action("Connect", "Home")';
            ActionUrl.StartInstall = '@Url.Action("StartInstall", "Home")';
            ActionUrl.InstallProgress = '@Url.Action("InstallProgress", "Home")';

            SetupInfo.connectionSettings = JSON.parse(@Html.Raw(Json.Encode(ViewBag.ConnectionSettings)));
            SetupInfo.availableComponents = JSON.parse(@Html.Raw(Json.Encode(ViewBag.AvailableComponents)));
            SetupInfo.installedComponents = JSON.parse(@Html.Raw(Json.Encode(ViewBag.InstalledComponents)));
            SetupInfo.selectedComponents = JSON.parse(@Html.Raw(Json.Encode(ViewBag.SelectedComponents)));
            SetupInfo.installationProgress = JSON.parse(@Html.Raw(Json.Encode(ViewBag.InstallationProgress)));
            SetupInfo.osInfo = JSON.parse(@Html.Raw(Json.Encode(ViewBag.OsInfo)));
            SetupInfo.trialFileName = '@Settings.TrialFileName';
            SetupInfo.enterprise = Boolean(@(ViewBag.Enterprise ? 1 : 0));
            SetupInfo.enterpriseLicenseRequired = Boolean(@(ViewBag.EnterpriseLicenseRequired ? 1 : 0));

            InstallManager.init();

        });
    </script>
}