
<div class="layout-content-wrapper clear-fix">
    <div class="copyright">
        @OneClickCommonResource.Copyright
    </div>

    <div class="social-links clear-fix">
        <span class="uppercase">@OneClickCommonResource.FollowUs</span>
        <ul>
            <li>
                <a class="facebook" title="@OneClickCommonResource.Facebook" target="_blank" href="https://www.facebook.com/pages/OnlyOffice/833032526736775"></a>
            </li>
            <li>
                <a class="twitter" title="@OneClickCommonResource.Twitter" target="_blank" href="https://twitter.com/ONLY_OFFICE"></a>
            </li>
            <li>
                <a class="linkedin" title="@OneClickCommonResource.LinkedIn" target="_blank" href="https://www.linkedin.com/groups?home=&gid=6726380&trk"></a>
            </li>
            <li>
                <a class="google" title="@OneClickCommonResource.Google" target="_blank" href="https://plus.google.com/+teamlab/"></a>
            </li>
            <li>
                <a class="youtube" title="@OneClickCommonResource.YouTube" target="_blank" href="http://www.youtube.com/TeamLabdotcom"></a>
            </li>
            <li>
                <a class="vk" title="@OneClickCommonResource.VK" target="_blank" href="http://vk.com/onlyoffice"></a>
            </li>
        </ul>
    </div>
</div>